@model PuntoDeVenta.Models.PerfilModel


<div>
    <div class="mb-5">
        <h1>Editar Perfil</h1>
    </div>
    <div>
        <form action="/Perfil/Editar" method="post">
            <input type="hidden" id="IdPerfil" name="IdPerfil">

            <div class="row">
                <div class="form-group col-md-3">
                    <label for="Nombre">Edicion del perfil</label>
                    <input type="text" class="form-control" id="Nombre" name="Nombre" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary ">Guardar</button>
                </div>
                <div class="col-md-2">
                    <button id="btnGuardarPostAjax" type="button" class="btn btn-primary ">GuardarPostAjax</button>

                </div>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    <script src="~/js/Perfil/Editar.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("documentreadyeditarHTML");
            cargarFormulario(JSON.parse('@Json.Serialize(Model)'));
        });
    </script>
}