@{
    ViewData["Title"] = "Gerente";

}

<div class="text-center">
    <h4>Bienvenidos Gerentes</h4>
    <h1 class="display-4">Carrefour</h1>
    <h1 class="display-4">Los mejores precios</h1>
</div>