@model List<MarcaModel>

@{
}

<div>
    <div class="mb-5">
        <h1>Marcas en sistema</h1>
    </div>  

    <div>
        <button class="btn btn-primary" onclick="irAgregar()">Agregar</button>


        <table id="tbl-Marca" class="table table-striped table-bordered mt-3">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var m in Model)
                {

                    <tr>
                        <td>@m.nombreMarca</td>
                        <td>
                            <button class="btn btn-info" onclick="editarMarca(@m.Id)">Editar</button>
                            <button class="btn btn-danger" onclick="mostrarModalEliminar(@m.Id)">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="eliminarMarcaModal" role="dialog" tabindex="-1" aria-labelledby="eliminarMarcaModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Marca</h5>
                </div>
                <div class="modal-body">
                    Esta seguro que desea eliminar la marca?
                    <input type="hidden" id="marcaIdEliminar" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="eliminar()">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="ocultarModalEliminar()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {

<script type="text/javascript">
    function editarMarca(marcaId) 
    {
        window.location.href = "/Marca/Editar?marcaId=" + marcaId;
    }
</script>

<script src="~/js/Marca/Listar.js" asp-append-version="true"></script>
<script src="~/js/Marca/Eliminar.js" asp-append-version="true"></script>
}