@model List<ComprobanteModel>

@{
}

<div>
    <div class="mb-5">
        <h1>Tipos de Comprobante Registrados</h1>
    </div>  

    <div>
        <button class="btn btn-primary" onclick="irAgregar()">Agregar</button>


        <table id="tbl-Tipo" class="table table-striped table-bordered mt-3">
            <thead>
                <tr>
                    <th>Descripcion de comprobantes</th>
                    <th>Opciones</th>                   
                </tr>
            </thead>
            <tbody>

                @foreach (var c in Model)
                {

                    <tr>                    
                        <td>@c.Comprobante</td>
                        <td>
                            <button class="btn btn-info" onclick="editarComprobante(@c.IdComprobante)">Editar</button>
                            <button class="btn btn-danger" onclick="mostrarModalEliminar(@c.IdComprobante)">Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="eliminarComprobanteModal" role="dialog" tabindex="-1" aria-labelledby="eliminarComprobanteModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar Tipo de Comprobante</h5>
                </div>
                <div class="modal-body">
                    Esta seguro que desea eliminar el registro?
                    <input type="hidden" id="IdComprobanteEliminar" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="eliminar()">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="ocultarModalEliminar()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


</div>
@section Scripts {

<script type="text/javascript">
    function editarComprobante(IdComprobante) {
        window.location.href = "/Comprobante/Editar?IdComprobante=" + IdComprobante;
    }
</script>

<script src="~/js/Comprobante/Listar.js" asp-append-version="true"></script>
<script src="~/js/Comprobante/Eliminar.js" asp-append-version="true"></script>
}