@model UsuarioModel
@{
}
<div>
    <div class="mb-5">
        <h1>Modificacion de contraseña</h1>
    </div>
    <div>
        <form action="/Administrador/EditarPassword" method="post">            
            @Html.HiddenFor(x=>x.IdUsuario)
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="Password">Modificar contraseña</label>
                    <input type="text" class="form-control" id="Password" name="Password" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary ">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/js/Usuario/EditarPassword.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {            
            cargarFormulario(JSON.parse('@Json.Serialize(Model)'));
        });
    </script>
}
