

@{
	ViewData["Title"] = "Cliente";

}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
                <a class="btn btn-outline-primary nav-link text-dark font-weight-lighter" asp-area="" asp-controller="Cliente" asp-action="CarritoCompras">Carrito de compras</a>
            </ul>
        </div>
    </nav>
</header>

<div class="text-center">
	<h4>Bienvenidos Clientes</h4>
	<h1 class="display-4">Carrefour</h1>
	<h1 class="display-4">Los mejores precios</h1>
</div>

