
@{
   
}

<h2>Envio de email para recupero de password</h2>
<h4 class="font-weight-bolder">@ViewData["MENSAJE"]</h4>

<form method="post" class="form">
    
    <label>Ingrese su username</label>
    <input type="text" name="IdUsuario" class="form-control" />
   
    
    <button class="btn btn-primary" type="submit">Enviar</button>
</form>
