@model UsuarioModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="mb-5">
            <h1>Reseteo de contraseña</h1>
        </div>
        <div>
            <form action="/Account/ResetPassword" method="post">
                <input type="hidden" value="@Model.IdUsuario" name="IdUsuario" />
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="Password">Ingresar nueva contraseña</label>
                        <input type="password" class="form-control" id="Password" name="Password" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="Password1">Confirmar nueva contraseña</label>
                        <input type="password" class="form-control" id="Password1" name="Password1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary ">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>
@section Scripts {
    <script src="~/js/Usuario/ResetPassword.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            cargarFormulario(JSON.parse('@Json.Serialize(Model)'));
        });
    </script>
}

